@tailwind base;
@tailwind components;
@tailwind utilities;
/* Otros estilos globales personalizados */
/* ----------------Global settings-----------------*/
:root {
  /* -----------------Fonts--------------------  */
  --main-font: "Baloo Bhaijaan 2", Helvetica;
  /* ------------------Colors------------------- */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  /*-----------------break points ----------------*/
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  /* ----------------Font Sizes -----------------*/
  --sm: 1.2rem;
  --md: 1.6rem;
  --lg: 2rem;
  --xl: 2.4rem;
  --xxl: 2.8rem;
}

/* ----------------Global Styles-----------------*/
* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  background: linear-gradient(45deg, #17a2b8, #f8f9fa);
  min-height: 100vh;
}

/* ----------------Container Styles-----------------*/
.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
